html, body, div, h3, h4 {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
}

body {
	line-height: 1;
	font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
	font-size: 1em;
	line-height: 1.5em;	
	color: #333;
	background: white;
}


/* Navigation
------------------------------------------------------------------------ */
.naviBase {
	background: #fff;
}

.navi ul {
	list-style: none;
	padding: 0px 0px 0px 20px;
}

.navi li {
	font-size: 1.4em;
	text-transform: lowercase;
	float: left;
	font-style: bold;
	padding: 6px 20px 10px;
}

.navi li a:link, .navi li a:visited {
	color: #ccc;
	text-align: center;
	background: none;
}

.navi li a:hover {
	color: #0063dc;
	text-decoration: none;
	background: none;
}

.navi li.active {
	padding: 6px 20px 10px;
	background: #efefef;
	color: #000;
}

.navi a svg {
	fill: #ccc;
	padding: 6px 0px 0px 40px;
	top: 50%;
}

.navi a svg:hover {
	fill: #0063dc;
}


/* Main Page Styles
------------------------------------------------------------------------ */
h2 {
	font-weight: normal;
	font-size: 1.6em;
	line-height: 1.2em;	
	margin: 20px 0 0;
}

h2 a:link, h2 a:visited {
	color: #333;
}

a, h2 a, h2 a:link, h2 a:hover, h2 a:visited, h3 a:hover {
	text-decoration: none;
}

a:hover, p a:hover, ul a:hover, ol a:hover, dl a:hover {
	color: #147;
	text-decoration: underline;
}

a, h2 a:hover, h3 a:hover {
	color: #0063dc;
}

small {
	font-size: 0.9em;
	line-height: 1.5em;
	color: #777;
}

p a:visited {
	color: #b85b5a;
}

.content {
	text-align: left;
	font-size: 1em
	color: #333;
	clear: both;
	border-top: 1px solid #ccc;
	padding: 0px 20px 0px 20px;
}

code {
	font-size: 1.2em;
	line-height: 1.5em;
	border: solid 1px #aaa;
	text-align: left;
}

pre {
	font-family: 'Bitstream Vera Sans Mono', 'Andale Mono', 'LucidaTypewriter', monospace;
	background: #f5f5f5;
	border: solid 1px #aaa;
	padding: 10px;
	text-align: left;
}

pre code {
	border: 0;
}


/* Begin Lists
   Special stylized non-IE bullets
   Do not work in Internet Explorer, which merely default to normal bullets.
---------------------------------------------------------------------------- */

html>body .content ul {
	margin-left: 0px;
	padding: 0 0 0 30px;
	list-style: none;
	padding-left: 10px;
	text-indent: -10px;
}

html>body .content li {
	margin: 7px 0 8px 10px;
}

.content ul li:before {
	content: "\00BB \0020";
}

.content ol {
	padding: 0 0 0 35px;
	margin: 0;
}

.content ol li {
	margin: 0;
	padding: 0;
}


/* Footer
------------------------ */
.archiveBase {
	margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 80%;
    vertical-align: baseline;
	background: #e6e6e6;
	border-top: 1px solid #ccc;
	margin-top: 40px;
}

.archiveBase h3, .archiveBase h4, .archiveBase ul, .archiveBase li {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
	text-indent: 0px;
} 
 
.archiveBase ul {
    list-style: none;
}

.archive {
	padding: 0 0 20px;
}

.archive h3 {
	font-size: 1.4em;
	font-style: italic;
	color: #000;
	margin-left: 20px;
	padding: 20px 0 5px;
	clear: both;
	display: block;
	text-transform: uppercase;
}

.archiveGroup {
	clear: both;
	padding: 10px 0;
	text-align: left;
}

.archiveGroup  h4 {
	font-size: 1.2em;
	color: #000;
	margin-left: 20px;
}

.archiveGroup ul {
	margin-left: 40px;
}

.archiveGroup li {
	font-size: 1.2em;
	line-height: 1.3em;
	padding: 4px 0;
}

.archiveGroup li a:link, .archiveGroup li a:visited {
	color: #555;
	text-decoration: none;
}

.archiveGroup li a:hover {
	color:#0063DC;
}

/* Footer Styles
------------------------------------------------------------------------ */
.footerBase {
	font-size: 80%;
	clear: both;
	padding: 0px 0 0 20px;
	border-top: 1px solid #ccc;
}


.footer p {
	font-size: 1.2em;
	color: #555;
	line-height: 1.2em;
}

.footer p span {
	padding: 0 10px;
}


